<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<%= link_to 'index', users_path %> 
<%= link_to 'create user again', "http://localhost:3000/create_fast?name=#{@user.name}&email=#{@user.email}" %>
